#quizDialog {
    position: absolute;
    width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#quizDialog table {text-align: center;}
.reviewDialog {
    width: 80%;
    height: auto;
}
#quizDialog a {
    text-decoration: underline;
    color: black;
}
#quizDialog th {
    border: 1px solid #ddd;
    padding: 8px;
}