@font-face {
    font-family: ubuntuFont;
    src: url("../assets/fonts/UbuntuCondensed-Regular.ttf");
}

body {
    font-size: 1.3rem;
    background: url('../assets/img/bg/lego-wall.jpeg');
    /* background-repeat: no-repeat; */
    background-size: 100%;
    background-attachment: fixed;
    font-family: ubuntuFont, "sans-serif";
}

fieldset {
    border: 2px solid #333;
    padding: 10px;
    margin-bottom: 20px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 80%;
    max-width: max-content;
    min-width: 250px;
    /* max-width: 500px;
    min-width: -webkit-fill-available; */
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    cursor: pointer;
}

#legoImage {
    max-width: 100%;
    max-height: 550px;
    margin-bottom: 10px;
}

#reponse1 {
    background-color: rgb(153, 204, 51);
    position: absolute;
}
#reponse2 {
    background-color: yellowgreen;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#reponse3 {
    background-color: yellowgreen;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#imgButton {
    background-color: rgba(190, 190, 190);
    cursor: default;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}

.input {
    padding: 0.6em 2em;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

/* mobile screen */
@media (max-width: 600px) {
    fieldset {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    #legoImage {
        max-height: 352px;
    }
  }
  @media ((max-width: 800px) and (min-width: 600px)) {
    fieldset {
      top: 20%;
      transform: translate(-50%, -25%);
    }
    #legoImage {
        max-height: 352px;
    }
  }
  @media ((max-height: 800px) and (min-width: 800px)) {
    fieldset {
      scale: 0.85;
      top: 20% !important;
      left: calc(50% * 0.85) !important;
    }
  }