@font-face {
  font-family: ubuntuFont;
  src: url("../assets/fonts/UbuntuCondensed-Regular.ttf");
}

body {
  font-size: 1.3rem;
  background: url('../assets/img/bg/lego-wall.jpeg');
  /* background-repeat: no-repeat; */
  background-size: 100%;
  background-attachment: fixed;
  font-family: ubuntuFont, "sans-serif";
}

fieldset {
  border: 2px solid #333;
  padding: 10px;
  margin-bottom: 20px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: max-content;
  /* max-width: 500px; */
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  cursor: pointer;
}

#legoImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#reponse1 {
  background-color: rgb(153, 204, 51);
  position: absolute;
}
#reponse2 {
  background-color: yellowgreen;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#reponse3 {
  background-color: yellowgreen;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-height: 800px) {
  fieldset {
    top: 240px;
  }
}
@media screen and (max-height: 500px) {
  #bandeau {
    display: none;
  }
  fieldset {
    top: 50%;
  }
}

/* #imgButton {
  background-color: rgb(255, 255, 255);
  cursor: default;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
} */