@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");
@font-face {
    font-family: ubuntuFont;
    src: url("../assets/fonts/UbuntuCondensed-Regular.ttf");
}

body:not(.bandeau) {
    background: url('../assets/img/bg/lego-wall.jpeg') fixed;
    background-size: 100%;
    font-family: ubuntuFont, "sans-serif";
    color: white;
    padding-top: 5%;
    padding-bottom: 90px;
    margin: 0;
}

.image {
    height: 250px;
    width: auto;
}
.image:hover {
    scale: 1.25;
    transition: 0.15s;
}

h3 {
    text-align: center;
    text-decoration: underline;
    background-color: rgba(217, 144, 88, 1);
    padding: 20px 20px 20px 20px;
}
.photosLego {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.containerLego {
    background-color: rgba(210, 210, 210, 0.8);
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
}

@media (max-width: 800px) {
    .photosLego {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .image {
        max-height: 250px;
        height: auto;
        max-width: 100%;
        width: auto;
    }
}