<!DOCTYPE html>
<html lang="fr" >
	<head>
		<title> Produits </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../css/produits.css" rel="stylesheet">
		<link href="../css/bandeau.css" rel="stylesheet">
		<link rel="stylesheet" href="../css/menuDisplay.css">
		<link rel="stylesheet" href="../css/dialogQuizz.css">
		<link rel="icon" type="image/x-icon" href="../assets/img/IconLego.gif" />
	</head>

	<body>
		<div class="container-main" ng-class="{'no-scroll': selected.length}" ng-app="app" ng-controller="mainCtrl">
			<!-- <video width="auto" height="auto" controls autoplay loop id="background4K">
				<source src="../assets/video/wallpaper4K.mp4" type="../assets/video/mp4">
			</video> -->

			<div class="page">
				<section id="BarMenu">
					<div class="iconMenu" onclick="animIconMenu()">
						<img src="../assets/img/accueil/LegoLettreM.jpg" alt="M" height="16px" id="lettrelegoM">
						<img src="../assets/img/accueil/LegoLettreE.jpg" alt="E" height="16px">
						<img src="../assets/img/accueil/LegoLettreN.jpg" alt="N" height="16px">
						<img src="../assets/img/accueil/LegoLettreU.jpg" alt="U" height="16px">
					</div>
					<div class="menu">
						<a href="../index.html" class="theme" id="Acceuil"><strong>Accueil</strong></a>
						<a href="history.html" class="theme" id="Notre Histoire"><strong>Notre Histoire</strong></a>
						<a href="produit.html" class="theme" id="produit"><strong>Nos Produits</strong></a>
						<a href="records.html" class="theme" id="Record"><strong>Nos Records</strong></a>
						<a href="javascript:void(0);" onclick="ouvrirDialog()" class="theme" id="Quiz"><strong>Le Quiz</strong></a>
				</section>

				<dialog id="quizDialog">
					<table>
					  <tr>
						<th>Quizz1</th>
						<th>Quizz2</th>
					  </tr>
					  <tr>
						<td><img src="../assets/img/bg/review_quizz1.png" title="Quizz sans possibilité ! Niveau : difficile" class="reviewDialog"/></td>
						<td><img src="../assets/img/bg/review_quizz2.png" title="Quizz avec 3 possibilités ! Niveau : normal" class="reviewDialog"/></td>
					  </tr>
					  <tr>
						<td><a href="quizz.html">Aller au Quizz1</a></td>
						<td><a href="quizz2.html">Aller au Quizz2</a></td>
					  </tr>
					</table>
					<form method="dialog">
					  <button onclick="fermerDialog()" style="cursor: pointer;">Fermer</button>
					</form>
				</dialog>
				
				<div class="header-container" id="starwars">
					<center> <img class="logo" src="../assets/img/starwars-logo.png" alt="Logo Marvel"/> </center>
					<button id="playButtonStarWars"></button>
					<audio id="audioPlayerStarWars" src="../assets/sound/soundtrackStarWars.mp4" type="audio/mp4"></audio>
				</div>
				  
				<div class="grid">
					<div class="grid-item" ng-repeat="item in starwarsBoxes">
						<box class="box" item="item" on-select="selectBox" ng-class="{'selected': selected[0].item.name == item.name}"></box>
						<div class="overlay">{{item.name}}</div>
					</div>
				</div>

				<div class="header-container" id="marvel">
					<center> <img class="logo" src="../assets/img/marvel-logo.png" alt="Logo Marvel"/> </center>
					<button id="playButtonMarvel"></button>
					<audio id="audioPlayerMarvel" src="../assets/sound/soundtrackMarvel.mp4" type="audio/mp4"></audio>
				</div>
				
				<div class="grid">
					<div class="grid-item" ng-repeat="item in marvelBoxes">
						<box class="box" item="item" on-select="selectBox" ng-class="{'selected': selected[0].item.name == item.name}"></box>
						<div class="overlay">{{item.name}}</div>
					</div>
				</div>

				<div class="header-container" id="technic">
					<center> <img class="logo" src="../assets/img/technic-logo.jpg" alt="Logo Technic"/> </center>
				</div>
				
				<div class="grid">
					<div class="grid-item" ng-repeat="item in technicBoxes">
						<box class="box" item="item" on-select="selectBox" ng-class="{'selected': selected[0].item.name == item.name}"></box>
						<div class="overlay">{{item.name}}</div>
					</div>
				</div>
			</div>
			<div class="fullscreen-background top-up" ng-show="selected.length" ng-style="{'background-image': 'url(' + selected[0].item.bg + ')'}" style="background-attachment: fixed;"></div>
			<div class="scroller" ng-show="selected.length">
				<a class="close-button" ng-click="clearSelection()">
					<i class="material-icons">Back</i>
				</a>
				<h1>{{selected[0].item.name}}</h1>
				<div big-box ng-repeat="item in selected" class="box on-top" position="item.position" selected="item.item" height="1000px">
					<img ng-src="{{item.item.image}}" alt=""/>
					<div class="content">
						<h2> <a class="link" href={{selected[0].item.link}}> {{selected[0].item.title}} </a> </h2>
						<!-- Utilisez ng-repeat pour afficher dynamiquement les textes -->
    					<p ng-repeat="text in selected[0].item.texts">{{text}}</p>

						<br><p> Vous pouvez acheter le set en cliquant sur "<i>{{selected[0].item.title}}</i>".</p>
						
						<img class="vector" ng-src="{{selected[0].item.vector}}">

						<video width="auto" height="auto" controls autoplay loop>
							<source ng-src="{{selectedVideo}}" type="video/mp4">
						</video>

						<button ng-click="switchPage('prev')" style="display: contents;">
							<img class="leftArrow" src="../assets/img/switchPage-button.png" alt="Left Arrow" title="Produit précédent">
						</button>

						<button ng-click="switchPage('next')" style="display: contents;">
							<img class="rightArrow" src="../assets/img/switchPage-button.png" alt="Right Arrow" title="Produit suivant">
						</button>
					</div>
				</div>
			</div>
		</div>

		<footer id="bandeau">
			<div class="row container text-align-center mx-auto">
				<p>
				&copy; 2023 Projet SAE - Recueil de besoins |
				<a href="contact.html" target="_blank">VANDEPOELE Enzo - MICALLEF John</a>
				</p>
				<span class="row">
					<a href="#" onclick="window.open('https://github.com/Unicron03')" aria-label="Github">
						<img src="https://unicron03.github.io/Image/logo_github.png" height ="24" width="24" class="button-icon-footer"/></button>
					</a>
					<a href="#" onclick="window.open('https://unicron03.github.io/')" aria-label="WebSite">
						<img src="https://unicron03.github.io/Image/EV.jpg" height ="24" width="24" class="button-icon-footer"/></button>
					</a>
					<a href="#" onclick="window.open('https://www.instagram.com/unicron_e/')" aria-label="Enzo's Instagram">
						<img src="https://cdn-icons-png.flaticon.com/512/3670/3670125.png" height ="24" width="24" class="button-icon-footer"/>
					</a>|
					<a href="#" onclick="window.open('https://www.instagram.com/John709803/')" aria-label="John's Instagram">
						<img src="https://cdn-icons-png.flaticon.com/512/3670/3670125.png" height ="24" width="24" class="button-icon-footer"/>
					</a>
	
					<a href="mentions.html" aria-label="John's Instagram" id="mention-area" target="_blank" onmouseover="changeBackground()" onmouseout="resetBackground()">
						<img src="https://lesmachinesasous.club/wp-content/uploads/2021/02/Nos-mentions-legales.png" height ="36" width="36" class="button-icon-footer"/> Mentions légales
					</a>
				</span>
			</div>
		</footer>
	</body>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js'></script>
	<!-- <script src='https://codepen.io/ste-vg/pen/zBVaZw.js'></script> -->
	<script id="rendered-js"></script>
	<script src="../scripts/produit.js"></script>
	<script src="../scripts/playsound.js"></script>
	<script src="../scripts/boxopacity.js"></script>
	<script src="../scripts/keyevent.js"></script>
    <script src="../scripts/menuDisplay.js"></script>
	<script src="../scripts/bandeau.js"></script>
	<script src="../scripts/dialogQuizz.js"></script>
</html>